* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #ff9999;
  --secondary-color: #ff9393a8;
  --tertiary-color: #fac8c8;
}

.navlinks {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

.hero {
  .hero-img {
    background-color: var(--primary-color);
    background-image: url(/assets/woman.svg);
    height: 400px;
    width: 375;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.navbar {
  background: white;
  padding: 0.5em;

  //can nest elements in sass
  .logo {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--primary-color);
    font-weight: bolder;
    font-size: 2em;
    font-family: "Khmer MN", sans-serif;
    padding-top: 15px;
    margin: auto;
  }
}

nav {
  display: none;
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu {
  cursor: pointer;
}

.post-date {
  text-align: center;
  color: #8b8b8b;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  padding: 10px;
}

.main-post {
  background-color: #f5aaaa;
  padding-top: 20px;
  position: relative;
}

.main-post-title {
  position: relative;
  text-align: center;
  font-size: 40px;
  line-height: 1.3em;
}

.underline {
  width: 210px;
  height: 12px;
  background-color: black;
  position: absolute;
  left: 132px;
  bottom: 100px;
}

.desc {
  text-align: center;
  padding: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.read-article-btn {
  padding: 10px;
  margin: 20px;
  border-radius: 5%;
  border: none;
  background-color: var(--tertiary-color);
  text-transform: uppercase;
  cursor: pointer;
}

.featured-blogs {
  background-color: rgba(233, 233, 233, 0.719);

  .featured-heading {
    text-align: center;
    padding: 20px;
  }
}

.blog-grid {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: repeat(3, 400px);
  gap: 20px;
  justify-content: center;
}

.grid-item {
  background-color: rgb(255, 255, 255);
  border: 1px solid gray;
  box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.2);

  .blog-img {
    margin: 30px 30px 0px 30px;
  }
   
  //gets them to display on same line
  .category, .date {
    display: inline;
  }

  .category, .date, .blog-title {
    padding-left: 30px;
  }

  .date {
    padding-left: 150px;
  }
  
  .headings {
    margin-bottom: 20px;
  }

}
