* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --primary-color: #ff9999;
  --secondary-color: #ff9393a8;
  --tertiary-color: #fac8c8;
}

.navlinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

a {
  text-decoration: none;
}

.hero .hero-img {
  background-color: var(--primary-color);
  background-image: url(/assets/woman.svg);
  height: 400px;
  width: 375;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  background: white;
  padding: 0.5em;
}

.navbar .logo {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--primary-color);
  font-weight: bolder;
  font-size: 2em;
  font-family: "Khmer MN", sans-serif;
  padding-top: 15px;
  margin: auto;
}

nav {
  display: none;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-menu {
  cursor: pointer;
}

.post-date {
  text-align: center;
  color: #8b8b8b;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  padding: 10px;
}

.main-post {
  background-color: #f5aaaa;
  padding-top: 20px;
  position: relative;
}

.main-post-title {
  position: relative;
  text-align: center;
  font-size: 40px;
  line-height: 1.3em;
}

.underline {
  width: 210px;
  height: 12px;
  background-color: black;
  position: absolute;
  left: 132px;
  bottom: 100px;
}

.desc {
  text-align: center;
  padding: 10px;
}

.button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.read-article-btn {
  padding: 10px;
  margin: 20px;
  border-radius: 5%;
  border: none;
  background-color: var(--tertiary-color);
  text-transform: uppercase;
  cursor: pointer;
}

.featured-blogs {
  background-color: rgba(233, 233, 233, 0.719);
}

.featured-blogs .featured-heading {
  text-align: center;
  padding: 20px;
}

.blog-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px;
      grid-template-columns: 300px;
  -ms-grid-rows: (400px)[3];
      grid-template-rows: repeat(3, 400px);
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid-item {
  background-color: white;
  border: 1px solid gray;
  -webkit-box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.2);
}

.grid-item .blog-img {
  margin: 30px 30px 0px 30px;
}

.grid-item .category, .grid-item .date {
  display: inline;
}

.grid-item .category, .grid-item .date, .grid-item .blog-title {
  padding-left: 30px;
}

.grid-item .date {
  padding-left: 150px;
}

.grid-item .headings {
  margin-bottom: 20px;
}
/*# sourceMappingURL=style.css.map */